/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */
/*
 * style.css
 *
 * Primary Styles
 */

/*Font size percentages based on the tables at developer.yahoo.com/yui/fonts/ */
h1 {
    font-size: 180%;
    color: #1F3F5E;
    text-align: justify;
}

h2{
    font-size: 123.1%;
}

h3 {
    font-size: 116%;
}

h4 {
    font-size: 108%;
}

h5, h6 {
    font-size: 100%;
}

/*fix for firefox in os x, where selects get the incorrect
height if it's not explicitly set this shouldn't be noticeable in
other browsers*/
select {
    height: 20px;
}

select.multiple {
    height: auto;
}


/* SPI --barra de governo */
#barra-brasil { 
    position:relative;
    overflow:hidden;
    min-width:1000px;
    background: #004b82 url('../../images/barra-brasil-v3-bgx.png') center bottom no-repeat; 
   /* VERdE background: #00500F url('../../images/barra-brasil-v3-bgx.png') center bottom no-repeat;*/
}

#barra-brasil .barra {
    display: block;
    width: 960px;
    height:28px;
    margin: 0 auto;
    background: url('../../images/barra-brasil-v3-bgx.gif') 0 bottom repeat-x;
}

#barra-brasil .barra ul {
    float:right;
    width: 319px;
}

#barra-brasil .barra ul li {
    float: left;
    padding-left: 25px;
   /* SPI - 04/06/2013 */
   list-style-type:none;
}

#barra-brasil .ai {
    display: block;
    width: 161px;
    height: 28px;
    text-indent: -1000px;
    background: #004b82 url('../../images/ai.png') no-repeat 0 4px;
    /*background: #00500F url('../../images/ai.png') no-repeat 0 4px;*/
}

#barra-brasil .brasilgov {
    display: block;
    width: 101px;
    height: 28px;
    text-indent: -1000px;
    background: #004b82 url('../../images/brasil.png') no-repeat 0 4px;
    /*background: #00500F url('../../images/brasil.png') no-repeat 0 4px;*/
}


/* fim alteracao SPI */


#ds-header-wrapper {
    /* SPI
    background-color: #1F3F5E;
    background-color: #587058;*/
    background-color: #00500F;
    color: white;
    min-width: 950px;
     /*SPI
   height:100px;*/
}

#ds-header-logo-link {
    text-decoration: none;
    cursor: pointer;
}

#ds-header-logo {
    float:left;
    /*SPI*/
    /*width: 48px;
    height: 50px;
    margin-top: 20px;*/
    width: 82px;
    height: 60px;
    margin-top: 10px;
    /*background: url('../../images/dspace-logo-only.png');*/
    background: url('../../images/logoSPI.png');
    background-repeat: no-repeat;
    background-color: transparent;
    margin-right: 15px;
}

#ds-header-logo-text {
    /*SPI
    font-size: 400%;*/
    font-size: 250%;
    color: white;
    line-height: 70px;
    font-weight: normal;
    vertical-align: middle;
    float: left;
}

#ds-user-box {
    right: 0;
    top: 10px;
    position: absolute;
    color: white;
}

#ds-user-box a{
    color: white;
}

#ds-trail-wrapper {
    background-color: #b6c8d9;
    margin: 0;
    padding: 0;
    border-top: 1px solid #9cacba;
    border-bottom: 1px solid #9cacba;
    min-width: 950px;
}

#ds-trail {
    list-style: none;
    line-height: 138.5%;
    margin: 0;
    padding: 3px 0;
}

#ds-trail li {
    display: inline;
    color: #1F3F5E;
    margin-right: 5px;
}

#ds-trail a {
    color: #1F3F5E;
}

#no-js-warning,
#ds-trail,
#ds-header,
#ds-footer,
#ds-content {
    width: 950px;
    margin: auto;
    position: relative;
}
/*SPI
#ds-header {
    margin-top:10px;
}*/

/*ie6 uses quirks mode for strict xhtml pages, and in quirks mode margin: auto; doesn't center things*/
.ie6 #no-js-warning-wrapper,
.ie6 #ds-trail-wrapper,
.ie6 #ds-header-wrapper,
.ie6 #ds-footer-wrapper,
.ie6 #ds-content-wrapper {
    text-align: center;
}

.ie6 #ds-trail,
.ie6 #ds-header,
.ie6 #ds-footer,
.ie6 #ds-content {
    margin: 0;
    text-align: left;
}

#ds-footer-wrapper {
    margin-top: 40px;
}

#ds-footer {
    border-top: 1px solid #9CACBA;
    padding-top: 10px;
    font-size: 93%;
    line-height: 1.6em;
}

#ds-footer-left {
    float: left;
}

#ds-footer-right {
    float:right;
}



/* SPI -- Apenas para tornar a nomeclatura adequada, substitui-se o span.them-by por span.marca-gov*/
/*#ds-footer-right span.theme-by{
    display: inline-block;
    vertical-align: top;
}*/

#ds-footer-right span.marca-gov{
    display: inline-block;
    vertical-align: top;
}

#ds-footer-logo-link {
    text-decoration:none;
    line-height: 40px;
    cursor: pointer;
}

#ds-footer-logo {
    display: inline-block;
    /* SPI */
    /*background: url('../../images/@mirelogo-small.png');*/
    background: url('../../images/marca-gov.png');
    background-repeat: no-repeat;
    width: 79px;
    height: 40px;
}

#ds-footer-links {
    clear: left;
}

.ie6 #ds-footer-links {
    display: inline;
}

/*make transparent PNGs invisible in IE6 until PNG-fix is applied*/
.ie6 #ds-header-logo,
.ie6 #ds-footer-logo {
    visibility: hidden;
}


#ds-body {
    float: left;
    width: 675px;
    padding-top: 10px;
}

#ds-options-wrapper {
    float: right;
    width: 249px;
    padding-top:10px;
}

#ds-options {
    padding: 0;
}

h1.ds-option-set-head {
    margin-top: 20px;
    background-color: #f0f2f5;
    padding: 3px 10px;
    border: 1px solid #d8e8eb;
    border-bottom: none;
    font-size: 108%;
}

#ds-search-option-head{
    margin-top: 0;
}

div.ds-option-set {
    border: 1px solid #d8e8eb;
    border-top: none;
}

div.ds-option-set ul {
    list-style: none;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.ds-option-set .ds-sublist-head {
    font-weight: normal;
    font-size: 100%;
}

div.ds-option-set ul.sublist {
    margin-left: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

/* SPI 

#ds-feed-option-head
{
    visibility: hidden;
}
div#ds-feed-option 
{
    visibility: hidden;
}
 fim alteracao SPI */


div#ds-feed-option li
{
    padding-top: 4px;
}

div#ds-feed-option a
{
    padding: 0px 0px 2px 20px;
}

#ds-search-option {
    padding: 10px;
}

#ds-search-form {
    margin-bottom: 10px;
}

#ds-search-form input.ds-text-field{
    width: 169px;
}

#ds-search-form input.ds-button-field {
    margin-left: 6px;
}

#ds-search-form input.ds-text-field,
#ds-search-form input.ds-button-field{
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

#aspect_eperson_EditProfile_list_form,
.submission fieldset.ds-form-list,
.administrative fieldset.ds-form-list {
    margin-bottom: 25px;
}

.primary {
    margin-top: 10px;
    margin-bottom: 30px;
}

ol {
    margin: 0;
    list-style: none;
}

th,
td {
    padding: 5px;
    vertical-align: middle;
}

.ds-button-field,
#aspect_eperson_StartRegistration_list_registration-progress li {
    background-color: #6d859c;
    border: 1px solid #1F3F5E;
    padding: 2px 5px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.ds-button-field[disabled="disabled"],
.ds-button-field.disabled,
li.button.disabled input {
    opacity: 0.35;
    cursor: auto;
}

#aspect_eperson_StartRegistration_list_registration-progress li {
    cursor: default;
}

#aspect_eperson_StartRegistration_list_registration-progress li.arrow {
    background-color: inherit;
    border: none;
    color: inherit;
    font-weight: normal;
}

.ie6 #aspect_eperson_StartRegistration_list_registration-progress li.arrow,
.ie7 #aspect_eperson_StartRegistration_list_registration-progress li.arrow {
    background-color: #FFFFFF;
    color: #444444;
}

.ie6 #aspect_eperson_StartRegistration_list_registration-progress li.arrow {
    padding-top: 5px;
}

ul.ds-progress-list {
    margin: 0 0 10px 0;
    padding: 2px 0;
    text-align: center;
}

ul.ds-progress-list li {
    font-weight: bold;
    overflow: hidden;
    display: inline;
    padding: 0;
    margin: 0;
    max-width: 400px;
}

ul.ds-progress-list li.button {
        padding: 0;
}

ul.ds-progress-list li.button input.ds-button-field {
        font-size: 77%;
}

.ie6 ul.ds-progress-list li.button input.ds-button-field,
.ie7 ul.ds-progress-list li.button input.ds-button-field {
    padding-left: 0;
    padding-right: 0;
}

ul.ds-progress-list li.current input.ds-button-field,
#aspect_eperson_StartRegistration_list_registration-progress li.current {
    background-color: #499c73;
    border: 1px solid #1f5e3f;
}

ul.ds-progress-list li.disabled input.ds-button-field
#aspect_eperson_StartRegistration_list_registration-progress li.disabled {
    background-color: #F0F2F5;
    border: 1px solid #D8E8EB;
    color: #444444;
    cursor: default;
}

.ie6 .disabled,
.ie6 li.disabled input,
.ie7 .ds-button-field.disabled,
.ie7 li.button.disabled input,
.ie8 .ds-button-field.disabled,
.ie8 li.button.disabled input {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 50);
    zoom: 1;
    cursor: auto;
}


ul.ds-progress-list li.arrow {
        border: none;
        background: none;
        font-size: 116%;
        font-weight: normal;
        margin-left: 3px;
        margin-right: 3px;
}

.ie6 ul.ds-progress-list li.arrow {
    height: 25px;
    width: 25px;
    margin: 0;
}

textarea.ds-textarea-field,
input.ds-text-field,
input.ds-file-field,
input.ds-button-field,
input.ds-password-field {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 93%;
}

textarea.ds-textarea-field,
input.ds-text-field,
input.ds-password-field {
    padding: 3px;
    border: 1px solid #AAAAAA;
}

.ie6 input.ds-text-field,
.ie6 input.ds-password-field {
    font-size: 85%;
    height: 22px;
}

.submission .ds-form-list input.ds-text-field,
.administrative .ds-form-list input.ds-text-field,
textarea.ds-textarea-field {
    width: 500px;
}

table textarea.ds-textarea-field {
    width: 400px;
}

#aspect_administrative_item_EditItemMetadataForm_field_value {
    width: 570px;
}

#aspect_administrative_registries_EditMetadataSchema_list_edit-schema-new-field-form .ds-text-field,
#aspect_administrative_item_EditItemMetadataForm_field_language,
.ds-composite-component input.ds-text-field {
    width: auto;
}

textarea.ds-textarea-field:focus,
input.ds-text-field:focus,
input.input.ds-password-field:focus {
    border-color: #5F9DE4;
}

/*
 * Show a blue glow around a focused text field
 * only target browsers that support rgba colors and boxshadows
 * see http://www.modernizr.com/docs/
 */
.rgba.boxshadow textarea.ds-textarea-field:focus,
.rgba.boxshadow input.ds-text-field:focus,
.rgba.boxshadow input.ds-password-field:focus {
    -moz-box-shadow:0 0 8px rgba(95, 158, 212, 0.5);
    -webkit-box-shadow:0 0 8px rgba(95, 158, 212, 0.5);
    box-shadow:0 0 8px rgba(95, 158, 212, 0.5);
    border-color:rgba(95, 158, 212, 0.75);
    outline:medium none;
}

span.error {
    clear: both;
    display: block;
    color: #c22121;
    font-size: 0.9em;
    margin-top: 3px;
}

textarea.ds-textarea-field.error,
input.ds-text-field.error,
input.ds-password-field.error {
    border-color: #c22121;
    background-color: #fff2f2;
}

.rgba.boxshadow textarea.ds-textarea-field.error:focus,
.rgba.boxshadow input.ds-text-field.error:focus,
.rgba.boxshadow input.ds-password-field.error:focus {
    -moz-box-shadow:0 0 8px rgba(194, 33, 33, 0.5);
    -webkit-box-shadow:0 0 8px rgba(194, 33, 33, 0.5);
    box-shadow:0 0 8px rgba(194, 33, 33, 0.5);
    border-color:rgba(194, 33, 33, 0.75) !important;
    outline:medium none;
}


.ds-form-list {
    margin-top: 15px;
}

.submission h2,
.ds-form-list legend{
    font-size: 182%;
    margin-bottom: 15px;
    color: #1F3F5E;
}

.ds-form-item legend {
    font-size: 100%;
    margin:0;
    color: inherit;
}

fieldset ol {
    margin: 0;
}

li.ds-form-item {
    list-style: none;
    margin-bottom: 35px;
    vertical-align: middle !important;
    position: relative;
    clear: left;
}

li.ds-form-item.last {
    margin-bottom: 0;
}

li.ds-form-item .ds-form-label{
    font-weight: bold;
    font-size: 123.1%;
}

li.ds-form-item label.ds-composite-component{
    display: block;
    float: left;
    font-size: 93%;
    padding:0 8px 0 0;
}

li.ds-form-item label.ds-composite-component input.ds-text-field{
    font-size: 100%;
    width: 242px;
}

li.ds-form-item .ds-select-field {
    margin-top: 5px;
}

.ds-add-button,
label.ds-composite-component .ds-select-field {
    margin-top: 6px;
    margin-bottom: 6px;
}

li.ds-form-item label.ds-composite-component.last{
    padding:0;
}

.ds-add-button {
    vertical-align: top;
    margin-left: 8px;
}


.ds-form-content input.ds-button-field {
    font-size: 93%;
}

select#aspect_submission_submit_SelectCollectionStep_field_handle {
    max-width: 350px;
}

#aspect_submission_StepTransformer_field_dc_date_issued_year,
#aspect_submission_StepTransformer_field_dc_date_issued_day {
    width: 50px;
}

#aspect_submission_StepTransformer_field_dc_identifier_value {
    width: 130px;
    margin-bottom: 0;
}

span.composite-help,
span.field-help {
    display: block;
    font-size: 93%;
    margin-top: 3px;
    width: 506px;
    text-align: justify;
}

.ds-checkbox-field input,
.ds-radio-field input {
    margin-left: 0;
}

.ds-checkbox-field label,
.ds-radio-field label {
    margin-right: 3px;
}
/*hide the double label for checkboxes & radio buttons*/
.ds-checkbox-field legend,
.ds-radio-field legend {
    display: none;
}

.ds-previous-values {
    margin-top: 10px;
    clear: both;
}

#aspect_submission_Submissions_div_submissions .ds-static-div,
.submission .ds-form-sublist ol {
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    margin-top: 3px;
    margin-bottom: 30px;
    padding: 10px;
}

#aspect_submission_Submissions_div_submissions table,
#aspect_submission_Submissions_div_submissions table tr,
#aspect_submission_Submissions_div_submissions table td,
#aspect_submission_Submissions_div_submissions table th {
    background-color: #FFFFFF;
    border: 1px solid #9CACBA;
}

#aspect_submission_Submissions_div_submissions table tr.ds-table-header-row, 
#aspect_submission_Submissions_div_submissions table tr.ds-table-header-row th {
    background-color: #B6C8D9;
    border: 1px solid #9CACBA;
    
}

.submission .ds-form-sublist li.ds-form-item {
    margin-bottom: 5px;
}

.submission .ds-form-sublist .ds-form-label {
    font-weight: bold;
}


.administrative.tabbed ul.horizontal {
    list-style: none;
    margin: 15px 0 0;
    border-bottom: 1px solid #9cacba;
}

.administrative.tabbed ul.horizontal li{
    float: left;
    border: 1px solid #9cacba;
    padding: 5px;
    margin-bottom: -1px;
    margin-right: 7px;
    border-bottom: none;
}

.administrative.tabbed ul.horizontal li a{
    text-decoration: none;
    color: #444444;
}

.administrative.tabbed ul.horizontal li.active-tab{
    background-color: #fafafa;
    z-index: 1;
    font-weight: bold;
}

.pane {
    padding: 10px;
    clear: both;
    background-color: #fafafa;
    border: 1px solid #9cacba;
    margin-bottom: 25px;
    margin-top: 0;
}

.pane .ds-form-list {
    margin-top: 0;
}

.administrative.tabbed .pane {
    border-top: none;
}

.pagination,
.pagination-masked {
    padding: 7px;
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    line-height: 1em;
    vertical-align:middle;
}

.pagination-links {
    list-style: none;
    float: right;
    margin: 0;
}

.pagination-links li {
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
}

.current-page-link {
    font-weight: bold;
    color: #1F3F5E;
}

.current-page-link a{
    color: #1F3F5E;
}

.pagination-info {
    float: left;
    margin:0;
}

.pagination-masked.top {
    margin-top: 5px;
}

.ds-artifact-list {
    list-style: none;
    margin: 0;
    line-height: 153.9%;
}

.file-wrapper,
.ds-artifact-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.ds-artifact-item.collection,
.ds-artifact-item.community {
    padding-top: 1px;
    padding-bottom: 1px;
}

.community .artifact-title a {
    font-weight: bold;
}

.collection .artifact-title a {
    font-weight: normal;
}

#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser .short-description, #aspect_discovery_SiteRecentSubmissions_div_site-home .short-description {
    display: none;
}

#aspect_artifactbrowser_SimpleSearch_div_search-results li, #aspect_discovery_SimpleSearch_div_search-results li, #aspect_artifactbrowser_AdvancedSearch_div_search-results li {
    padding-top: 15px;
    padding-bottom: 15px;
}

#aspect_artifactbrowser_SimpleSearch_div_search-results ul, #aspect_discovery_SimpleSearch_div_search-results ul, #aspect_artifactbrowser_AdvancedSearch_div_search-results ul {
    margin-bottom: 25px;
}

.artifact-title {
    font-size: 123.1%;
}

.result-query,
.artifact-info {
    color: gray;
}

.artifact-abstract {
    text-align: justify;
}

ul.alphabet {
    list-style: none;
    margin: 0;
}

ul.alphabet li {
    display:inline;
}

#aspect_eperson_PasswordLogin_list_password-login .ds-form-item {
    float: left;
    margin: 0;
    margin-right: 25px;
}

#aspect_eperson_PasswordLogin_list_password-login .ds-form-item a {
    margin-left: 20px;
}

#aspect_eperson_PasswordLogin_list_password-login .ds-form-item.last {
    clear: left;
}


#aspect_eperson_PasswordLogin_list_password-login .ds-form-item.last .ds-form-label{
    display: none;
}

td select.ds-select-field {
    margin-left: 5px;
}

form.search,
div.discoverySearchBox
{
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    padding: 10px;
    margin-bottom: 15px;
}

form.search label,
div.discoverySearchBox label
{
    font-weight: bold;
}

form.search p.ds-paragraph.button-list,
div.discoverySearchBox p.ds-paragraph.button-list
{
    text-align: center;
    margin: 0;
}

form.search fieldset,
div.discoverySearchBox fieldset {
    margin: 0;
}

form.search .ds-form-item,
div.discoverySearchBox .ds-form-item
{
    margin: 0;
    padding-bottom: 5px;
}

form.search .ds-form-item select,
div.discoverySearchBox .ds-form-item select
{
    margin-top: 0;
}

form.search label.ds-composite-component .ds-select-field,
div.discoverySearchBox label.ds-composite-component .ds-select-field
{
    margin-top: 6px;
}

form.search .ds-form-item label,
div.discoverySearchBox .ds-form-item label
{
    font-size: 100%;
}

form.search .ds-form-content,
div.discoverySearchBox .ds-form-content
{
    display: inline;
}

form.search table input.ds-text-field,
div.discoverySearchBox table input.ds-text-field
{
   margin: 0;
}

form.search .field-help,
div.discoverySearchBox .field-help
{
    margin: 3px 0;
}

.collection .search,
.community .search {
    margin-top: 25px;
}

#aspect_discovery_CollectionSearch_p_search-query,
#aspect_discovery_CommunitySearch_p_search-query{
    margin-bottom:0;
}

.result-query {
    margin-bottom: 30px;
}

#aspect_administrative_registries_EditMetadataSchema_table_metadata-schema-edit-existing-fields,
#aspect_administrative_registries_MetadataRegistryMain_table_metadata-registry-main-table,
#aspect_administrative_registries_FormatRegistryMain_table_bitstream-format-registry,
#aspect_submission_Submissions_table_unfinished-submissions,
#aspect_submission_Submissions_table_submissions-inprogress,
#aspect_submission_Submissions_table_completed-submissions,
table.detailtable {
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
}

#aspect_administrative_registries_EditMetadataSchema_table_metadata-schema-edit-existing-fields tr,
#aspect_administrative_registries_MetadataRegistryMain_table_metadata-registry-main-table tr,
#aspect_administrative_registries_FormatRegistryMain_table_bitstream-format-registry tr,
#aspect_submission_Submissions_table_unfinished-submissions tr,
#aspect_submission_Submissions_table_submissions-inprogress tr,
#aspect_submission_Submissions_table_completed-submissions tr,
table.detailtable tr {
    line-height: 1.6em;
    border: 1px solid #ebebeb;
}

#aspect_administrative_registries_EditMetadataSchema_table_metadata-schema-edit-existing-fields tr.even,
#aspect_administrative_registries_MetadataRegistryMain_table_metadata-registry-main-table tr.even,
#aspect_administrative_registries_FormatRegistryMain_table_bitstream-format-registry tr.even,
#aspect_submission_Submissions_table_unfinished-submissions tr.even,
#aspect_submission_Submissions_table_submissions-inprogress tr.even,
#aspect_submission_Submissions_table_completed-submissions tr.even,
table.detailtable tr.even {
    background-color: #fafafa;
}

#aspect_administrative_registries_EditMetadataSchema_table_metadata-schema-edit-existing-fields td,
#aspect_administrative_registries_MetadataRegistryMain_table_metadata-registry-main-table td,
#aspect_administrative_registries_FormatRegistryMain_table_bitstream-format-registry td,
#aspect_submission_Submissions_table_unfinished-submissions td,
#aspect_submission_Submissions_table_submissions-inprogress td,
#aspect_submission_Submissions_table_completed-submissions td,
table.detailtable td {
    padding: 5px 10px;
    text-align: justify;
    border: 1px solid #ebebeb;
    vertical-align: top;
}

#aspect_administrative_registries_EditMetadataSchema_table_metadata-schema-edit-existing-fields tr.ds-table-header-row,
#aspect_administrative_registries_MetadataRegistryMain_table_metadata-registry-main-table tr.ds-table-header-row,
#aspect_administrative_registries_FormatRegistryMain_table_bitstream-format-registry tr.ds-table-header-row,
#aspect_submission_Submissions_table_unfinished-submissions tr.ds-table-header-row,
#aspect_submission_Submissions_table_submissions-inprogress tr.ds-table-header-row,
#aspect_submission_Submissions_table_completed-submissions tr.ds-table-header-row {
    border: none;
}


table.detailtable td.label-cell {
    font-weight: bold;
    text-align: left;
    width: 100px;
}

/* Alt-MP 11/09/2013 - Inclusão da Barra separadora para demais atributos */
div.simple-item-view-other {
 border-bottom:1px solid #D8E8EB;
}
/* Fim Alt-MP 11/09/2013 */

div.item-summary-view-metadata h1,
div.item-summary-view-metadata h2 {
    line-height: normal;
}

div.item-summary-view-metadata {
    text-align: justify;
    line-height: 161.6%;
    margin-bottom: 30px;
}

div.simple-item-view-authors {
    font-size: 100%;
    border-bottom:1px solid #D8E8EB;
    padding-bottom: 2px; 
/* Alt-MP 02/10/2013 Remover margem superior do item URI  margin-bottom: 20px; alterado p/ 2px */
    margin-bottom: 2px;
    text-align: justify;
}

div.simple-item-view-authors span{
    text-align: justify;
}

#aspect_artifactbrowser_ItemViewer_div_item-view h2,
div.item-summary-view-metadata p.item-view-toggle-bottom,
div.simple-item-view-description {
    margin-top: 20px;
}

#aspect_artifactbrowser_ItemViewer_div_item-view h2,
div.simple-item-view-description h3{
    border-bottom:1px solid #D8E8EB;
    margin-bottom: 3px;
}

#aspect_artifactbrowser_ItemViewer_div_item-view h2 {
    margin-bottom: 10px;
}

div.spacer{
    height: 15px;
}

.thumbnail-wrapper,
.file-metadata,
.file-link {
    float: left;
    margin-right: 15px;
}

.item-metadata {
    float: left;
}

.file-metadata {
    width: 300px;
}

.file-metadata span,
.item-metadata span {
    float: left;
}

.item-metadata span.content span {
    float: none;
}

.file-metadata span.bold,
.item-metadata span.bold {
    width: 80px;
    clear: left;
    text-align: right;
    margin-right: 7px;
}

#ds-system-wide-alert,
.notice {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #bfc221;
    background-color: #fffff2;
}

.notice.success
{
    border-color: #21c221;
    background-color: #f2fff2;
}

#ds-system-wide-alert,
.notice.failure
{
    border-color: #c22121;
    background-color: #fff2f2;
}

#ds-system-wide-alert p {
    margin: 0;
}

#aspect_artifactbrowser_CommunityViewer_div_community-home h2,
#aspect_artifactbrowser_CollectionViewer_div_collection-home h2 {
    margin-top: 30px;
    border-bottom:1px solid #D8E8EB;
    margin-bottom: 3px;
}

.ds-logo-wrapper {
    display: block;
}

#aspect_administrative_item_FindItemForm_list_find-item-form .ds-form-item {
    margin:0;
}

#aspect_administrative_registries_EditMetadataSchema_div_edit-schema-new-field  .ds-form-item.last {
    margin-top: -25px;
}

#no-js-warning {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

form.discover-search-box{
    margin-bottom: 10px;
}


form.discover-sort-box select{
    margin: 0 4px;
}

.hidden {
    display:none;
    visibility:hidden;
}

.icon-button{
    padding:4px;
    cursor: pointer;
    margin: 2px;
    background-color: #6D859C;
    border: 1px solid #1F3F5E;
    text-indent: -1000px;
    width: 30px;
    height: 30px;
    display:block;
    /*Required for IE*/
    font-size: 0;
    line-height: 0;
}

.icon-button.arrowUp{
    background-image: url(../../images/arrow_up_ffffff_16x16.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.icon-button.arrowDown{
    background-image: url(../../images/arrow_down_ffffff_16x16.png);
    background-repeat: no-repeat;
    background-position: center center;
}

/* FOR CC License */
span.floatleft {
	border:none;
	float:right;
	display:inline;
}

/* FOR CC PAGE to GROUP ITEMS horizontally */
ul.horizontal li span.bold a { color: black; }

/* group items horizontally in a list */

ul.horizontalVanilla
{
font-weight: bold;
list-style-type: none;
padding: 0px;
padding-left: 0px;
padding-bottom: 15px;
border-left: 1px solid white;
border-right: 1px solid white;
margin: 10px -1px 5px -1px;
width: inherit;
}

ul.horizontalVanilla li
{
float: left;
height: 100%;
background-color: rgb(255, 255, 255);
margin: 2px 2px 0px 2px;
/* border: 1px solid rgb(240, 240, 210); */
}

/* Controlled vocabulary support css START*/
ul.vocabulary {
    margin-left: 0;
}

ul.vocabulary,
ul.vocabulary ul,
ul.vocabulary li
{
    list-style: none;
}

ul.vocabulary div.vocabulary-node-icon{
    cursor: pointer;
    width: 15px;
    height: 12px;
    display: inline-block;
}

ul.vocabulary div.vocabulary-node-icon.vocabulary-doc{
    background-image: url(../../images/controlledvocabulary/voc_doc_222222.png);
}

ul.vocabulary div.vocabulary-node-icon.vocabulary-open{
    background-image: url(../../images/controlledvocabulary/voc_open_222222.png);
}

ul.vocabulary div.vocabulary-node-icon.vocabulary-closed{
    background-image: url(../../images/controlledvocabulary/voc_closed_222222.png);
    background-repeat: no-repeat;
}

div.vocabulary-container li.error{
    color: #c22121;
}
/* Controlled vocabulary support css END*/

#aspect_administrative_authorization_EditPolicyForm_field_start_date{
    width: 100px;
}
#aspect_administrative_authorization_EditPolicyForm_field_end_date{
    width: 100px;
}
#aspect_administrative_authorization_EditItemPolicies_table_policies-confirm-delete tr,
#aspect_administrative_authorization_EditItemPolicies_table_policies-confirm-delete td
{
    border: 1px solid lightgray;
}


#aspect_administrative_authorization_AdvacedAuthorizationsForm_field_end_date{
    width: 100px;
}
#aspect_administrative_authorization_AdvacedAuthorizationsForm_field_start_date{
    width: 100px;
}
#aspect_submission_StepTransformer_field_embargo_until_date{
    width: 100px;
}

#aspect_administrative_item_AddBitstreamForm_field_embargo_until_date{
    width: 100px;
}

#aspect_administrative_item_EditBitstreamForm_field_embargo_until_date{
    width: 100px;
}

#aspect_submission_StepTransformer_table_policies tr,
#aspect_submission_StepTransformer_table_policies td
{
    border: 1px solid lightgray;
}

table.detailtable {
    background-color: #D8E8EB;
}

table.detailtable th{
    background-color: #F0F2F5;
    word-wrap: normal;
}

table.detailtable td{
    background-color: #FFFFFF;
    text-align: right;
}


span.highlight{
    font-weight: bold;
}

div.gear-icon{
    background-image: url('../../images/gear_6D859C_25x25.png');
}

ul.gear-selection li.gear-option-selected{
    background: url('../../images/check_606060_15x15.png') no-repeat 3px center;
}

input#aspect_discovery_SimpleSearch_field_query{
    width: 565px;
}

input.search-icon{
    background-image: url('../../images/search_icon_ffffff_20x20.png');
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -1000px;
        /*Css props below are required for IE*/
    font-size: 0;
    display:block;
    line-height: 0;
}

div#aspect_discovery_SimpleSearch_div_search p.pagination-info{
    display: none;
}

div#aspect_discovery_SimpleSearch_div_search .pagination-links{
    float: left;
}

table.discovery-filters{
    width: 100%;
    background-color: #FFFFFF;
}

table.discovery-filters tr{
    border-top: 1px solid #EBEBEB;
}
table.discovery-filters td{
    padding: 0;
}

table.discovery-filters td.selection{
    width: 1%;
}

table.discovery-filters th.new-filter-header{
    text-align: left;
    padding-top: 20px;
}


table.discovery-filters td.discovery-filter-input-cell {
    padding-left: 3px;
}


table.discovery-filters tr.apply-filter{
    background-color: #FAFAFA;
}

table.discovery-filters tr.apply-filter input{
    width: 65px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 108%;
    display: block;
    margin-top: 10px;
}


table.discovery-filters td.filter-controls{
    width: 50px;
}

table.discovery-filters input.filter-control {
    margin-left: 5px;
    text-indent: -1000px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 17px;
    width: 17px;
    float: left;
    background-color: transparent;
    border: none;
    /*Css props below are required for IE*/
    font-size: 0;
    display:block;
    line-height: 0;
}

table.discovery-filters input.filter-control.filter-remove{
    margin-left: 7px;
    background-image: url('../../images/button_minus.png');
}

table.discovery-filters input.filter-control.filter-add{
    background-image: url('../../images/button_plus.png');
}

table.discovery-filters tr.search-filter.filler
{
    background-color: #FAFAFA;
    height: 25px;
}

table.discovery-filters th.new-filter-header
{
    padding-top: 5px;
}


.searchTime{
    color: #999999;
}
